<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body class="bg-dark text-light">
    
    <nav class="nav nav-pills flex-column flex-sm-row bg-dark">
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/">Chris Bumstead - Home</a>
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/about">About</a>
        <a class="flex-sm-fill text-sm-center nav-link bg-secondary active" aria-current="page" href="/career">Career</a>
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/gallery">Gallery</a>
      </nav>

      <div>
        <h3>Contest history</h3>
        <ul>
            <li> 2016 IFBB North American Championships, Heavyweight, 1st (earned IFBB pro card)</li>
            <li> 2016 IFBB Dayana Cadeau Classic, Classic Physique, 3rd</li>
            <li> 2017 IFBB Pittsburgh Pro, Classic Physique, 1st</li>
            <li> 2017 IFBB Toronto Pro, Classic Physique, 1st</li>
            <li> 2017 Mr. Olympia, Classic Physique, 2nd</li>
            <li> 2018 Mr. Olympia, Classic Physique, 2nd</li>
            <li> 2019 Mr. Olympia, Classic Physique, 1st</li>
            <li> 2020 Mr. Olympia, Classic Physique, 1st</li>
            <li> 2021 Mr. Olympia, Classic Physique, 1st</li>
        </ul>
    </div>
    <div>
        <h3>Contest history</h3>
        <ol>
            <li> <a href="https://www.musculardevelopment.com/10353-55857n5nn67n/15729-the-route-to-massive-legs-chris-bumstead-shows-how.html#.YN0XCDZKg0o">www.musculardevelopment.com. Retrieved 2021-07-01.</a></li>
            <li> <a href="https://simplyshredded.com/21-year-old-beast-chris-bumstead-talks-with-simplyshredded-com.html">simplyshredded.com. Retrieved 2021-07-01.</a></li>
            <li> <a href="https://www.greatestphysiques.com/male-physiques/chris-bumstead/">Greatest Physiques. Retrieved 2021-07-01.</a></li>
            <li> <a href="https://www.oldschoollabs.com/2017-mr-olympia-results/">Old School Labs. Retrieved 2021-07-01.</a></li>
            <li> <a href="https://www.oldschoollabs.com/2018-mr-olympia-results/">Old School Labs. 2018-09-18. Retrieved 2021-07-01.</a></li>
            <li> <a href="https://barbend.com/chris-bumstead-wins-2020-classic-physique-olympia/">BarBend. 2020-12-20. Retrieved 2021-07-01.</a></li>
            <li> <a href="http://contests.npcnewsonline.com/contests/2016/ifbb_north_american_championships/">contests.npcnewsonline.com. Retrieved 2021-07-01.</a></li>
            <li> <a href="http://contests.npcnewsonline.com/contests/2016/ifbb_dayana_cadeau_classic/">contests.npcnewsonline.com. Retrieved 2021-07-01.</a></li>
            <li> <a href="http://contests.npcnewsonline.com/contests/2017/ifbb_pittsburgh_pro/">ontests.npcnewsonline.com. Retrieved 2021-07-01.</a>c</li>
            <li> <a href="http://www.ifbbpro.com/all-categories/results/2017-toronto-pro-supershow-scorecards/">Retrieved 2021-07-01.</a> </li>
            <li> <a href="http://barbend.com/chris-bumstead-wins-2021-classic-physique-olympia/">BarBend. 2021-10-10. Retrieved 2021-10-11.</a> </li>

        </ol>
    </div>


</body>
</html>