<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Bumstead - Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- <script src="/stylesheet/carousel.js"></script> -->
</head>
<body class="bg-dark">

    <nav class="nav nav-pills flex-column flex-sm-row bg-dark">
        <a class="flex-sm-fill text-sm-center nav-link active bg-secondary " aria-current="page" href="/">Chris Bumstead - Home</a>
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/about">About</a>
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/career">Career</a>
        <a class="flex-sm-fill text-sm-center nav-link text-light" href="/gallery">Gallery</a>
      </nav>


      <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/slide1.jpg" class="d-block w-100" alt="slide1">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-secondary rounded-pill">
                Chris Bumstead 
            </h5>
              <p class="bg-secondary fst-italic fw-bold rounded-pill ">Wins 2020 Classic Physique Olympia</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/slide2.jpg" class="d-block w-100" alt="slide2">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-secondary rounded-pill">"no interest in anything but the prize and then waffles"</h5>
              <p class="bg-secondary fst-italic fw-bold rounded-pill ">One more day. <br> My hero Chris shifting plates for <br> his sixth day on an empty gastank.</p>
            </div>
          </div>
          <div class="carousel-item" >
            <img  src="/images/slide3.jpeg" class="d-block w-100" alt="slide3">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="bg-secondary rounded-pill">From nutrition and lifting, to the art of posing</h5>
              <p class="fst-italic fw-bold bg-secondary rounded-pill">Chris Bumstead shows us what it takes to become the most aesthetic bodybuilder on the planet.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</body>
</html>